@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');

:root{
    --light-grey: #f8f8f8; /* Background */
    --dark-grey: #707070; /* Navigation 1rem*/
    --light-blue: #1792d2; /* Subtitle 1rem*/
    --dark-blue: #143774; /* Title 3.375rem*/
}

html, body {
    margin: 0 auto;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    /* background-color: var(--light-grey); */
   

}


.container {
    background-color: var(--light-grey);
    padding: 2em;
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.container-nav {
    display: flex;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 5em;

}

.title {
    line-height: .5rem;
}

h1 {
    font-family: 'Lora', serif;
    color: var(--dark-blue);
    font-size: 2rem;
    font-weight: 400;
}

.subtitle {
    font-size: .75rem;
    color: var(--light-blue);
    letter-spacing: .2em;
    font-weight: 700;

}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

nav li {
    margin: 0 1em;
    list-style: none;
    letter-spacing: .1em;
}

nav a {
    text-decoration: none;
    color: var(--dark-grey);
    padding: .25em 0;
}

nav a:hover,
nav a:focus {
    color: var(--light-blue);
}

.current-page {
    border-bottom: 1px solid var(--dark-grey);
}

.current-page:hover {
    color: var(--dark-grey);
}