@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');

:root{
    --light-grey: #f8f8f8; /* Background */
    --medium-grey: #EBEBEB; /* color for around images */
    --dark-grey: #707070; /* Navigation 1rem*/
    --darkest-grey: #717171; /* Text maybe? */
    --light-blue: #1792d2; /* Subtitle 1rem*/
    --dark-blue: #143774; /* Title 3.375rem*/
}

body {
    margin: 0;
    font-size: 1.125rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

img {
    max-width: 100%;
    display: block;
}

.image-full {
    max-height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: 100% 16%;
    margin: 0 0 2em 0;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

/* ~~~~~~~~~~~~~
typography (always start with type)
~~~~~~~~~~~~~ */
h1,
h2,
h3 {
    font-family: 'Lora', serif;
    font-weight: 400;
    color: var(--dark-blue);
    margin-top: 0;
}


h1 {
    font-size: 2rem;
    margin: 0;
}

h3 {
    color: var(--light-blue);
}

a {
    color: var(--light-blue);
    font-weight: bolder;
}

a:hover,
a:focus {
    color: var(--dark-blue);
}

strong {
    font-weight: 700;
}

/* Logo subtitle */
.subtitle {
    font-size: .75rem;
    color: var(--light-blue);
    letter-spacing: .2em;
    font-weight: 700;
}

.article-title {
    font-size: 1.5rem;
}

.article-read-more,
.article-info {
    font-size: .875rem;
}

.article-read-more {
    color: var(--light-blue);
    text-decoration: none;
    font-weight: 700;
}

.article-read-more:hover,
.article-read-more:focus {
    color: var(--dark-blue);
    text-decoration: underline;
    
}

.article-info {
    margin: 2.2em 0;
    color: var(--dark-grey);
}




/* ~~~~~~~~~~~~~
layout
~~~~~~~~~~~~~ */


.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.container-flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

header {
    background-color: var(--light-grey);
    padding: 2em 0;
    text-align: center;
    margin-bottom: 3em;
}

footer {
    background: var(--dark-blue);
    color: var(--medium-grey);
    margin: 0 auto;
    text-align: center;
    font-size: 1rem;
    padding: 3em 0;
}

.site-title {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    text-align: center;
}

.title {
    line-height: .5rem;
}

@media (min-width: 675px) {
    .container-flex {
        flex-direction: row;
    }

    main {
        width: 70%;
    }
    
    aside {
        width: 25%;
        min-width: 200px;
        margin-left: 1em;
    }
}





/* ~~~~~~~~~~~~~
navigation
~~~~~~~~~~~~~ */

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

nav li {
    margin-left: 2em;
    list-style: none;
    letter-spacing: .1em;
}

nav a {
    text-decoration: none;
    color: var(--dark-grey);
    padding: .25em 0;
}

nav a:hover,
nav a:focus {
    color: var(--light-blue);
}

.current-page {
    border-bottom: 1px solid var(--dark-grey);
}

.current-page:hover {
    color: var(--dark-grey);
}

@media (max-width: 675px) {
    
    
    nav ul {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    nav li {
        
        /* remove margin so the fucker is centered */
        margin: .5em 0;
    }
}

/* ~~~~~~~~~~~~~~~
articles
~~~~~~~~~~~~~~~~ */

.article-featured {
    border-bottom: 1px solid var(--dark-grey);
    padding-bottom: 2em;
    margin-bottom: 2em;
}

.article-body {
    color: var(--dark-grey);
    letter-spacing: .01em;
    line-height: 1.556em;
}

.article-read-more {
    letter-spacing: .355em;
}

.article-recent {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}


/* setting the order allows for moving sections without hardcoding the HTML markdown */
.article-recent-main {
    order: 2;
}

.article-recent-secondary {
    order: 1;
}

/* date and comments pushed to right side, title pulled north */
/* @media (min-width: 550px) {
    .article-recent-main {
        margin-top: -2.8em;
    }

    .article-info {
        text-align: right;
    }
} */

@media (min-width: 675px) {
    .article-featured {
        margin-bottom: 4.5em;
    }
    .article-recent {
        flex-direction: row;
        justify-content: space-between;
        
    }
    .article-recent-main {
        width: 65%;
    }
    .article-recent-secondary {
        width: 30%;
    }

    .article-featured{
        display: flex;
        flex-direction: column;
    }
    .article-info{
        order: -1;
    }
    .article-image {
        order: -2;
        object-fit: cover;
        width: 100%;
        min-height: 250px;
    }
}

/* Widgets */

.sidebar-widget {
    background-color: white;
    border: 1.250em solid var(--medium-grey);
    margin: 0 0 2em 0;
    padding: 1.250em;
    font-size: 0.778rem;
    color: var(--dark-blue);
    display: flex;
    flex-direction: column;
}

.widget-title {
    font-family: 'Ubuntu';
    font-size: 1rem;
    letter-spacing: .4em;
    line-height: 1.556em;
    font-weight: 700;
    margin-bottom: 1.250em;
}

.widget-body {
    margin: 1.250em 0;
    letter-spacing: .01em;
    line-height: 1.556em;
}

.widget-recent-post {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em;
    padding: 2em 0;
    border-bottom: 1px solid var(--dark-grey);
}
.widget-recent-post-title {
    order: 2;
    font-size: 1rem;
    letter-spacing: .01em;
    line-height: 1.556em;
    color: var(--dark-blue);
}

.widget-image {
    order: 1;
    margin-bottom: 1.250em;
    object-fit: cover;
}

.widget-recent-post:last-child {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}



