@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');

:root{
    --light-grey: #f8f8f8; /* Background */
    --medium-grey: #EBEBEB; /* color for around images */
    --dark-grey: #707070; /* Navigation 1rem*/
    --darkest-grey: #717171; /* Text maybe? */
    --light-blue: #1792d2; /* Subtitle 1rem*/
    --dark-blue: #143774; /* Title 3.375rem*/
}

body {
    margin: 0 auto;
    font-size: 1.125rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

img {
    max-width: 100%;
    display: block;
}

/* ~~~~~~~~~~~~~
typography (always start with type)
~~~~~~~~~~~~~ */
h1,
h2,
h3 {
    font-family: 'Lora', serif;
    font-weight: 400;
    color: var(--dark-blue);
}


h1 {
    font-size: 2rem;
    margin: 0;
}

a {
    color: var(--light-blue);
    font-weight: bolder;
}

a:hover,
a:focus {
    color: var(--dark-blue);
}

strong {
    font-weight: 700;
}

/* Logo subtitle */
.subtitle {
    font-size: .75rem;
    color: var(--light-blue);
    letter-spacing: .2em;
    font-weight: 700;
}

.article-title {
    font-size: 1.5rem;
}

.article-read-more,
.article-info {
    font-size: .875rem;
}

.article-read-more {
    color: var(--light-blue);
    text-decoration: none;
    font-weight: 700;
}

.article-read-more:hover,
.article-read-more:focus {
    color: var(--dark-blue);
    text-decoration: underline;
    
}

.article-info {
    margin: 2.2em 0;
    color: var(--dark-grey);
}

.article-featured {
    border-bottom: 1px solid var(--dark-grey);
    padding-bottom: 2em;

}

.article-body {
    color: var(--dark-grey);
    letter-spacing: .01em;
    line-height: 1.556em;
}

.article-read-more {
    letter-spacing: .355em;
}





/* ~~~~~~~~~~~~~
layout
~~~~~~~~~~~~~ */


.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.container-flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

header {
    background-color: var(--light-grey);
    padding: 2em 0;
    text-align: center;
}

.site-title {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    text-align: center;
}

.title {
    line-height: .5rem;
}

@media (min-width: 675px) {
    .container-flex {
        flex-direction: row;
    }

    main {
        width: 75%;
    }
    
    aside {
        width: 20%;
    }
}





/* ~~~~~~~~~~~~~
navigation
~~~~~~~~~~~~~ */

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

nav li {
    margin-left: 2em;
    list-style: none;
    letter-spacing: .1em;
}

nav a {
    text-decoration: none;
    color: var(--dark-grey);
    padding: .25em 0;
}

nav a:hover,
nav a:focus {
    color: var(--light-blue);
}

.current-page {
    border-bottom: 1px solid var(--dark-grey);
}

.current-page:hover {
    color: var(--dark-grey);
}

@media (max-width: 830px) {
    
    
    nav ul {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    nav li {
        
        /* remove margin so the fucker is centered */
        margin: .5em 0;
    }
}